body {
  background-color: white;
  color: #343A40;
  font-family: "Archia", Helvetica, sans-serif;
  padding: 18vh 1rem;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.middleman-logo {
  margin-bottom: 1rem;
  width: 10rem;
}
