@import 'normalize';
@import 'open-color';

$base-font-family: 'Archia', Helvetica, Arial, sans-serif;
$base-font-weight: 400;
$base-font-size: 14px;
$spacing-unit: 1.5rem;

// Functions
// PX to REM - Usage: font-size: rem(37px);
@function rem($px, $base: $base-font-size) {
    @return ($px / $base) * 1rem;
}

// PX to EM - Usage: font-size: em(37px);
@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1em;
}

* {
   text-rendering: optimizelegibility;
   box-sizing: border-box;
}

html {
 font-size: $base-font-size;
 -webkit-text-size-adjust: 100%;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 font-feature-settings: "kern" 1;
 font-kerning: normal;
 overflow-x: hidden;
}

body {
  font: $base-font-weight 1rem/#{$spacing-unit} $base-font-family;
  background-color: white;
  color: $oc-gray-9;
  font-family: $base-font-family;
}

h1 {
  font-size: rem(36px);
  line-height: $spacing-unit*2;
}

a {
  color: $oc-indigo-7;
  transition: color ease-in-out .225s;

  &:focus,
  &:hover {
    color: $oc-indigo-9;
  }
}

.container {
  max-width: 960px;
  margin: 0px auto;
  padding: $spacing-unit;
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  &__about {
    font-size: rem(18px);
    line-height: $spacing-unit*1.5;
    color: $oc-gray-6;
  }
}

.conf-list {
  position: relative;
  padding: 0;

  li {
    list-style: none;
  }

  &__month {
    position: absolute;
    left: -($spacing-unit);
    margin: 0;
    transform-origin: left top;
    transform: translate(-($spacing-unit*2), $spacing-unit*2) rotate(-90deg) translateX(-100%);
    font-size: rem(12px);
    font-weight: 300;
    text-transform: uppercase;
  }
}

.conf-card {
  $root: &;
  position: relative;
  align-items: center;
  display: flex;
  text-decoration: none;
  padding: $spacing-unit*1.5 0;
  color: $oc-gray-9;
  border-bottom: 1px solid $oc-indigo-0;
  transition: color ease-in-out .225s;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: all ease-in-out .225s;
    background: linear-gradient($oc-indigo-7, $oc-indigo-8);
    opacity: 0;
    transform: translate3d($spacing-unit*2, 0, 0);
  }

  &__image {
    width: $spacing-unit*4;
    height: $spacing-unit*4;
    margin-right: $spacing-unit;
  }

  &__desc {
    width: 60%;
    padding-right: $spacing-unit*2;
  }

  &__title {
    font-size: $base-font-size;
    margin: 0;
    margin-bottom: rem(4px);
  }

  &__blurb {
    margin: 0;
    color: $oc-gray-6;

    #{$root}:hover & {
      color: $oc-indigo-3;
    }
  }

  &__meta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 40%;
    font-size: rem(12px);
  }

  &__location, &__dates {
    width: 50%;
    font-weight: 900;
    margin-bottom: $spacing-unit+rem(4px);
  }

  &__price, &__tags {
    width: 50%;
    color: $oc-gray-6;

    #{$root}:hover & {
      color: $oc-indigo-3;
    }
  }

  &__dates, &__tags {
    text-align: right;
  }

  &:hover {
    color: white;

    &::after {
      opacity: 1;
      //transform: translate3d($spacing-unit, 0, 0);
    }
  }
}
