---
title: UX Confs
---

<h1>
  UX Confs
</h1>

<ul class="conf-list">
  <% data.conferences.group_by {|c| c.start_date.strftime('%Y') }.each do |year, year_conferences| %>
    <% year_conferences.group_by {|c| c.start_date.strftime('%b') }.each do |month, month_conferences| %>
      <h2 class="conf-list__month"><%= month %> <%= year %></h2>
      <% month_conferences.sort_by {|c| c.start_date.strftime('%e') }.each do |conf| %>
        <li><%= partial(:'partials/conf-card', :locals => { :c => conf }) %></li>
      <% end %>
    <% end %>
  <% end %>
</ul>

<%= link_to(
  "Read Documentation",
  "https://middlemanapp.com/basics/templating_language/",
  target: "_blank"
) %>
